
{% extends 'base.html' %}
{% block content %}

{% load static %}

<div class="inner">
	<div class="vec">
		<div class="img">
		<img src="{% static 'img/Home.svg' %}">
		</div>
		
		 </div>
</div>
<div class="card">
	<div class="txt">
		<h1 style="color:rgb(79, 116, 172); font-size: 3rem;">Timetable Generator</h1>
		<br>
	
		<p style="color: gray;">Let our Artificial Intelligence schedule your classes.
		Add your university class details and generate Time Table.</p>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="crdbtn">
		<a href="{% url 'timetable' %}" class="btn">Generate Timetable</a>

	</div>
</div>
{% endblock %}

